<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Site Verification -->
  <meta name="google-site-verification" content="g9fJsz9TfgVsXUpNZvY3Lm5dz-feSSbTv5przopaBiA" />
  <meta name="yandex-verification" content="6108bd4e96c81ba8" />
  <title>{{ page.title }}</title>

    {% if page.json_ld %}
    {{ page.json_ld | strip | strip_newlines | replace: '"', '&quot;' | replace: '\n', '' | raw }}
  {% endif %}

  <!-- CSSファイルの読み込み -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <!-- ナビゲーションバー（言語切替リンク付き） -->
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">English</a></li>
      <li><a href="{{ '/ja/' | relative_url }}">日本語</a></li>
    </ul>
  </nav>

  <!-- ページ固有のコンテンツ -->
  <div class="content">
    {{ content }}
  </div>

  <!-- フッター -->
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} Superdoccimo. All rights reserved.</p>
  </footer>
</body>
</html>
